# node
node_modules
dist
pnpm-lock.yaml

# python/uv
.venv
.pytest_cache/
.pytype
__pycache__/
*.pyc
uv.lock

# agentpm
.agentpm/
.agentpm-state/
pub.txt

# env
.env
*.env.local
.idea
.DS_STORE

_vendor/
target/
